<div class="row">

  {% if site.posts.size == 0 %}
    No English posts at the moment. Please check our page in German language.
  {% else %}

  {% for post in site.posts %}
  {% if post.show == true %}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="{{post.image}}">
        <!-- <span class="card-title"><a style="color:white">{{ post.title | escape }}</a></span>
        -->
        <a id="{{post.url}}" class="btn-floating halfway-fab waves-effect waves-light red" href="{{ post.url | relative_url }}"><i class="material-icons">more_horiz</i></a>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ post.title | escape }}</span>
        {{post.excerpt}}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  {% endif %}

</div>
