
<script type="text/javascript" src="{{ "/assets/js/jquery-3.2.1.min.js" | prepend: site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/assets/js/materialize.min.js" | prepend: site.baseurl_root }}"></script>
<script type="text/javascript" src="{{ "/assets/js/init.js" | prepend: site.baseurl_root }}"></script>

</body>
<footer class="page-footer">
  <div class="footer-copyright" style="padding-left: 30px">
    <i class="material-icons" style="padding-right:5px">copyright</i><p>{% t footer.copy %} {{ site.name }} | <a href="{{ site.baseurl }}/imprint/">{% t footer.imprint %}</a> | {% t footer.allrights %}</p>
  </div>
</footer>
</html>
